.card {
  width: 120px;
  height: 200px;
  float: left;
  margin: 10px;
}

.card-vp{
  float: left;
}

.card-gem{
  float: right;
}

.cards-level:after,
.card-top:after{
  content: "";
  display: table;
  clear: both;
}
