.card {
  width: 140px;
  height: 230px;
  float: left;
  margin: 10px;
  border: solid;
  position: relative;
  background-size: cover;
  border-radius: 5%;
}

.card-empty{
  width: 140px;
  height: 230px;
  margin: 10px;
  float: left;
}

.card-noble {
  width: 140px;
  height: 180px;
  float: left;
  margin: 10px;
  border: solid;
  position: relative;
  border-radius: 5%;
  background-size: cover;
}

.card-vp{
  float: left;
  margin-top: 0px;
  margin-left: 10px;
  color: white;
  font-size: 30px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.card-gem{
  float: right;
  /* border-radius: 50%; */
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
}

.card-cost{
  width: 100%;
}

.card-noble-cost-gem,
.card-cost-gem{
  float: left;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: center;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.card-noble-cost-gem{
  border-radius: 20%;
}

.cards-level:after,
.card-top:after,
.token-container:after{
  content: "";
  display: table;
  clear: both;
}

.card-top{
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}

.card-level-1{
    background-image: url("./assets/images/test-levelBlue.jpg");
}

.card-level-2{
  background-image: url("./assets/images/test-levelYellow.jpg");
}

.card-level-3{
  background-image: url("./assets/images/test-levelGreen.jpg");
}

.card-bottom {
  position: absolute;
  bottom: 0;
}

.card-bottom:after{
content: '';
display: table;
clear: both;
}

.token {
  width: 70px;
  height: 70px;
  margin: 10px;
  position: relative;
  background-size: cover;
  background-color: #E6CDA7;
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding-left: 13px;
  padding-top: 15px;
  float: left;
}

.token-gem{
  width: 55px;
  height: 55px;
}

.token-empty{
  width: 70;
  height: 70px;
  margin: 10px;
}

.token-qty{
  font-size: 42px;
  float: right;
  float: right;
  margin-top: 30px;
}

.token-container{
  width: 150px;
}