.card-MINE_BLACK{
    background-image: url("../../../assets/images/test-back1.jpg");
}

.card-MINE_BLUE{
    background-image: url("../../../assets/images/test-back2.jpg");
}

.card-MINE_WHITE{
    background-image: url("../../../assets/images/test-back3.jpg");
}

.card-MINE_GREEN{
    background-image: url("../../../assets/images/test-back4.jpg");
}

.card-MINE_RED{
    background-image: url("../../../assets/images/test-back5.jpg");
}

.card-CAMELS{
    background-image: url("../../../assets/images/test-back6.jpg");
}

.card-LAPIDARY_BLACK{
    background-image: url("../../../assets/images/test-back7.jpg");
}

.card-ELEPHANTS{
    background-image: url("../../../assets/images/test-back8.jpg");
}

.card-LAPIDARY_BLUE{
    background-image: url("../../../assets/images/test-back9.jpg");
}

.card-PEOPLE_SNOW{
    background-image: url("../../../assets/images/test-back10.jpg");
}

.card-LAPIDARY_WHITE{
    background-image: url("../../../assets/images/test-back11.jpg");
}

.card-GUY_GREEN{
    background-image: url("../../../assets/images/test-back12.jpg");
}

.card-CARRACK{
    background-image: url("../../../assets/images/test-back13.jpg");
}

.card-FELUCCA{
    background-image: url("../../../assets/images/test-back14.jpg");
}

.card-LAPIDARY_RED{
    background-image: url("../../../assets/images/test-back15.jpg");
}

.card-STREET_1{
    background-image: url("../../../assets/images/test-back16.jpg");
}

.card-STREET_2{
    background-image: url("../../../assets/images/test-back17.jpg");
}

.card-VENICE{
    background-image: url("../../../assets/images/test-back18.jpg");
}

.card-DIAMANT_SHOP{
    background-image: url("../../../assets/images/test-back19.jpg");
}

.card-BUILDING_WHITE{
    background-image: url("../../../assets/images/test-back20.jpg");
}

.card-GIOIELLERIA{
    background-image: url("../../../assets/images/test-back21.jpg");
}

.card-TIMBERED_HOUSE{
    background-image: url("../../../assets/images/test-back22.jpg");
}

.card-BRIDGE{
    background-image: url("../../../assets/images/test-back23.jpg");
}

.card-EQUESTRIAN_STATUE{
    background-image: url("../../../assets/images/test-back24.jpg");
}

.card-BUILDING_RED{
    background-image: url("../../../assets/images/test-back25.jpg");
}

.card-MARY_STUART{
    background-image: url("../../../assets/images/test-noble1.jpg");
}

.card-HENRY_VIII{
    background-image: url("../../../assets/images/test-noble2.jpg");
}

.card-FRAN_FRANCE{
    background-image: url("../../../assets/images/test-noble3.jpg");
}

.card-CHARLES_V{
    background-image: url("../../../assets/images/test-noble4.jpg");
}

.card-ANN_BRITAN{
    background-image: url("../../../assets/images/test-noble5.jpg");
}

.card-SUL_MAGNI{
    background-image: url("../../../assets/images/test-noble6.jpg");
}

.card-NIC_MACHIA{
    background-image: url("../../../assets/images/test-noble7.jpg");
}

.card-ISA_CASTILE{
    background-image: url("../../../assets/images/test-noble8.jpg");
}

.card-ELI_AUSTRIA{
    background-image: url("../../../assets/images/test-noble9.jpg");
}

.card-CAT_MEDICI{
    background-image: url("../../../assets/images/test-noble10.jpg");
}

.card-gem-ONYX{
    background-image: url("../../../assets/images/onyx.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-gem-SAPPHIRE{
    background-color: transparent;
    background-image: url("../../../assets/images/sapphire.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-gem-DIAMOND{
    background-color: transparent;
    background-image: url("../../../assets/images/diamond.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-gem-ESMERALD{
    background-color: transparent;
    background-image: url("../../../assets/images/esmerald.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-gem-RUBY{
    background-color: transparent;
    background-image: url("../../../assets/images/ruby.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-gem-GOLD{
    background-color: transparent;
    background-image: url("../../../assets/images/gold.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-cost-gem-RUBY{
    background: rgb(255,171,0);
    background: radial-gradient(circle, rgba(255,171,0,1) 0%, rgba(255,0,0,1) 35%, rgba(1,23,28,1) 100%);
}

.card-cost-gem-ESMERALD{
    background: rgb(223,255,0);
    background: radial-gradient(circle, rgba(223,255,0,1) 0%, rgba(10,163,7,1) 35%, rgba(1,23,28,1) 100%);
}

.card-cost-gem-DIAMOND{
    background: rgb(215,218,193);
    background: radial-gradient(circle, rgba(215,218,193,1) 0%, rgba(255,255,255,1) 35%, rgba(1,23,28,1) 100%);
}

.card-cost-gem-SAPPHIRE{
    background: rgb(0,176,255);
    background: radial-gradient(circle, rgba(0,176,255,1) 0%, rgba(0,78,255,1) 35%, rgba(1,23,28,1) 100%);
}

.card-cost-gem-ONYX{
    background: rgb(173,101,75);
    background: radial-gradient(circle, rgba(173,101,75,1) 0%, rgba(0,0,0,1) 35%, rgba(1,23,28,1) 100%);
}
