.card-MINE_BLACK{
    background-color: dimgray;
}

.card-MINE_BLUE{
    background-color: blue;
}

.card-MINE_WHITE{
    background-color: white;
}

.card-MINE_GREEN{
    background-color: green;
}

.card-MINE_RED{
    background-color: red;
}

.card-CAMELS{
    background-color: rosybrown;
}

.card-LAPIDARY_BLACK{
    background-color: grey;
}

.card-ELEPHANTS{
    background-color: lightblue;
}

.card-LAPIDARY_BLUE{
    background-color: lightskyblue;
}

.card-PEOPLE_SNOW{
    background-color: lightslategrey;
}

.card-LAPIDARY_WHITE{
    background-color: linen;
}

.card-GUY_GREEN{
    background-color: mediumseagreen;
}

.card-CARRACK{
    background-color: brown;
}

.card-FELUCCA{
    background-color: burlywood;
}

.card-LAPIDARY_RED{
    background-color: crimson;
}

.card-STREET_1{
    background-color: darkmagenta;
}

.card-STREET_2{
    background-color: darkolivegreen;
}

.card-VENICE{
    background-color: darkorange;
}

.card-DIAMANT_SHOP{
    background-color: darkslategray;
}

.card-BUILDING_WHITE{
    background-color: dodgerblue;
}

.card-GIOIELLERIA{
    background-color: goldenrod;
}

.card-TIMBERED_HOUSE{
    background-color: hotpink;
}

.card-BRIDGE{
    background-color: khaki;
}

.card-EQUESTIAN_STATUE{
    background-color: lightcoral;
}

.card-BUILDING_RED{
    background-color: tomato;
}

.card-gem-ONYX{
    background-color: darkslategray;
}

.card-gem-SAPPHIRE{
    background-color: cornflowerblue;
}

.card-gem-DIAMONT{
    background-color: silver;
}

.card-gem-ESMERALD{
    background-color: seagreen;
}

.card-gem-RUBY{
    background-color: firebrick;
}

.card-gem-GOLD{
    background-color: gold;
}
